@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.6em;
    font-family: 'shirkhand';
  }
  h3 {
    font-family: 'roboto', "sans-serif";
    font-size: 1.2em;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
  }
  li {
    list-style: none;
  }
  header {
    text-align: center;
    -webkit-box-shadow: 0px 5px 0px 0px #f6f6f6;
            box-shadow: 0px 5px 0px 0px #f6f6f6;
  }
  header img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .recherche {
    text-align: center;
    background-color: #f6f6f6;
  }
  .recherche .barre_recherche {
    background-color: #e6e6e6;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
  }
  .recherche .icon_loca {
    padding-right: 5px;
    font-size: 1.2em;
  }
  .recherche input {
    border: none;
    background-color: #e6e6e6;
    font-family: "roboto";
    font-weight: bolder;
    font-size: 1.1em;
  }
  .recherche h2 {
    font-size: 1.1em;
    font-family: 'roboto';
  }
  .recherche .btn_exp {
    border-radius: 50px 50px;
    background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
    background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    font-family: 'roboto';
    padding: 18px;
    margin-bottom: 40px;
    margin-top: 10px;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    border: none;
    -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
            box-shadow: 1px 2px 8px 2px #c4c4c4;
  }
  .fonctionnement h1 {
    margin-left: 20px;
  }
  .fonctionnement .etapes li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f6f6f6;
    border-radius: 25px 25px 25px 25px;
    padding: 13px;
    margin-right: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
            box-shadow: 1px 2px 8px 2px #c4c4c4;
    cursor: pointer;
  }
  .fonctionnement .etapes p {
    margin-left: 70px;
    font-weight: bolder;
  }
  .fonctionnement .etapes i {
    position: absolute;
    margin-left: 30px;
    margin-top: 17px;
    color: gray;
  }
  .fonctionnement .etapes .etapes--num {
    position: absolute;
    margin-top: 12px;
    text-align: center;
    margin-left: -24px;
    background-color: #9356DC;
    border-radius: 50%;
    width: 5%;
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    padding: 3px;
  }
  .restaurant {
    background-color: #f2f2f2;
  }
  .restaurant h1 {
    margin-left: 20px;
  }
  .restaurant .main__restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant .carte {
    border-radius: 25px;
    width: 100%;
    -webkit-box-shadow: 4px 4px 6px #aaa;
            box-shadow: 4px 4px 6px #aaa;
    margin: 20px;
    position: relative;
    background: #fff;
  }
  .restaurant .btn__nouveau {
    position: absolute;
    margin-left: 240px;
    margin-top: 20px;
    padding: 5px;
    background-color: #99E2D0;
    font-weight: bolder;
  }
  .restaurant img {
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 100%;
    height: 220px;
  }
  .restaurant .coeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    float: right;
    margin-top: -45px;
  }
  .restaurant figure {
    margin: 0;
  }
  .restaurant figcaption {
    margin: 0;
    padding: 10px;
  }
  .restaurant a {
    text-decoration: none;
    color: black;
  }
  footer {
    background-color: #353535;
    padding: 25px;
    color: white;
  }
  h2 {
    font-family: "Shrikhand";
    padding: 5px 0 5px 0;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 38px;
  }
  ul {
    list-style-type: none;
  }
  ul li {
    padding: 5px 0 5px 0;
  }
  ul li a {
    color: white;
    text-decoration: none;
  }
  .fa-utensils {
    margin-right: 12px;
  }
  .fa-hands-helping {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=main.css.map */