@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
  }
  h1 {
    font-family: "Shrikhand", "sans-serif";
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 10px;
  }
  h3 {
    font-weight: bold;
  }
  header {
    text-align: center;
    background-color: #f6f6f6;
    padding-top: 2px;
  }
  header a {
    color: black;
    text-decoration: none;
    font-size: 1.6em;
  }
  header .arrow {
    float: left;
    margin-left: 20px;
    margin-top: 28px;
    font-size: 1.10em;
  }
  main img {
    width: 100%;
    margin-top: -16px;
  }
  main .main__menu {
    background-color: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    padding: 25px 0px 0px 0px;
    position: relative;
    margin-top: -50px;
    width: 100%;
  }
  main .menu__title {
    font-size: 1.1em;
    margin-top: -20px;
    margin-left: -20px;
  }
  main .fill__heart {
    float: right;
    margin-top: -60px;
    margin-right: 20px;
    font-size: 0.8em;
  }
  main .full__menu {
    margin-left: 20px;
  }
  main .meals {
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 4px 4px 6px #aaa;
            box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  main .meals .last__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.5em;
  }
  main .meals .last__line p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  main .meals .last__line p {
    padding-right: 20px;
  }
  main .last__line span {
    margin-right: 5px;
  }
  main .meals h4 {
    margin: 0;
  }
  main .starter h3, main .dish h3, main .dessert h3 {
    padding-left: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  main .btn__commander button {
    background-image: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
    background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 4px 4px 6px #aaa;
            box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
    margin: 30px 0;
    padding: 20px;
    width: 50%;
  }
  main .btn__commander {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    position: relative;
    background-color: #353535;
    padding: 25px;
    color: white;
  }
  h2 {
    font-family: "Shrikhand", "sans-serif";
    padding: 5px 0 5px 0;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 38px;
  }
  ul {
    list-style-type: none;
  }
  ul li {
    padding: 5px 0 5px 0;
  }
  ul li a {
    color: white;
    text-decoration: none;
  }
  .fa-utensils {
    margin-right: 12px;
  }
  .fa-hands-helping {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=pages.css.map */