@mixin etapes--num {

    position: absolute;
    margin-top: 12px;
    text-align: center;
    margin-left: -24px;
    background-color: $primaire;
    border-radius: 50%;
    width: 1.5%;
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    padding: 3px;

}


@mixin carte {

    border-radius: 25px;
    width: 20%;
    box-shadow: 4px 4px 6px #aaa;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
    background: #fff;

    &:hover {
        transform: scale(1.03);
    }
}


@mixin meals {
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms ease-in-out;
    animation: slideDown 850ms ease-in-out;

    &:hover {
        padding-right: 50px;
    }

    &:hover .cross {
        opacity: 1;
        transform: translate(-50px);
    }

    &:hover .fa-check-circle {
        transform: rotate(360deg);
    }


}


@mixin cross {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiaire;
    width: 50px;
    height: 63px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding: 0px;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out; 
    
    & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }

  }