.coeur {
    display: flex;
    justify-content: flex-end;
    float: right;
    margin-top: -40px;
    font-size: 0.9em;
    color: black;
    cursor: pointer;   
}

i:hover {
    animation: heart 0.5s ease-in-out;
    background-color: $whitesmoke;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bolder;
    opacity: 1;
    display: inline-block;
   }