h1 {
    font-family: "Shrikhand", "sans-serif";
}

h2 {
    font-size: 1.5em;
    font-family: 'roboto', "sans-serif";
}

h3 {
    font-family: 'roboto', "sans-serif";
    font-size: 1.2em;
    font-weight: 500;
}

h4 {
    font-family: 'roboto', "sans-serif";
    font-size: 1.1em;

}


body {
    font-family: 'roboto';
}